In [1]:
#import libraries

import pickle
import pandas as pd

In [2]:
with open('model_best.pkl', 'rb') as model_file:
    model = pickle.load(model_file)

In [ ]:
new_data = {
    'room_type': 'Private room',           
    'room_shared': 0,                      
    'room_private': 1,                     # 1 jika kamar pribadi, 0 jika tidak
    'person_capacity': 2,                  # kapasitas tamu
    'host_is_superhost': 1,                # 1 jika superhost, 0 jika tidak
    'multi': 0,                            # 1 jika properti multilist, 0 jika tidak
    'biz': 0,                              # 1 jika untuk bisnis, 0 jika tidak
    'cleanliness_rating': 8.0,             # skala kebersihan (biasanya 1-10)
    'guest_satisfaction_overall': 95,      # kepuasan tamu (1-100)
    'bedrooms': 1,                         # jumlah kamar tidur
    'dist': 5.022964,                           # jarak dari pusat kota (misalnya dalam km)
    'metro_dist': 3.651621,                     # jarak ke stasiun metro
    'attr_index': 78.690379,                     # indeks kedekatan ke atraksi wisata
    'attr_index_norm': 3.933908,                # nilai normalisasi dari attr_index
    'rest_index': 98.913816,                     # indeks kedekatan ke restoran
    'rest_index_norm': 6.148730,                # nilai normalisasi dari rest_index
    'lng': 4.27417,                         # longitude
    'lat': 52.37113                        # latitude
}

In [5]:
data_inf = pd.DataFrame([new_data])
data_inf

,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,Private room,0,1,2,1,0,0,8.0,95,1,5.022964,3.651621,78.690379,3.933908,98.913816,6.14873,4.27417,52.37113

In [6]:
y_predfe_1 = model.predict(data_inf)
y_predfe_1

array([258.56476], dtype=float32)

Maka didapatkan harga 258 euro untuk airbnb dengan kriteria diatas